// Import Bulma's core
@import "~bulma/sass/utilities/_all";

$sky: #00a5ff;
$sky-invert: findColorInvert($sky);
$earth: #cd850a;
$earth-invert: findColorInvert($earth);
$primary: $sky;
$primary-invert: findColorInvert($primary);
$danger: #ff3900;
$danger-invert: findColorInvert($danger);
$warning: #ffba00;
$warning-invert: findColorInvert($warning);

$colors: (
"white": ($white, $black),
"black": ($black, $white),
"sky": ($sky, $sky-invert),
"earth": ($earth, $earth-invert),
"light": ($light, $light-invert),
"dark": ($dark, $dark-invert),
"primary": ($primary, $primary-invert),
"info": ($info, $info-invert),
"success": ($success, $success-invert),
"warning": ($warning, $warning-invert),
"danger": ($danger, $danger-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
