doctype html
html
	head
		title Monosys
	link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Rubik:900")
	link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		script(src='/bundle.js', type='text/javascript')
